.player {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-control {
    width: 50%;
    display: flex;
    justify-content: center;

    input {
        width: 100%;
        padding: 1rem 0rem;

        &:hover {
            cursor: pointer;
        }
    }

    p {
        padding: 1rem;
    }
}

.play-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 30%;
    background: rgba($color: #FFFFFF, $alpha: 0.1);
    border-radius: 1rem;
    
    svg {
        background: none;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.2);
        }
    }
}

input[type="range"] {
    accent-color: rgba(155, 155, 155, 0.5);
}
